#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .audio-clip {
    width: 100%;
    height: auto;
  }
  
#drop-area {
  border: 2px dashed gray;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: gray;
  margin: 20px;
}
