#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.audio-container {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-clip {
  width: 80%;
}

#drop-area {
  border: 2px dashed gray;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: gray;
  margin: 20px;
}

.audio-box {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
